
<h1> 
    Codeial / <%= title %>
</h1>

<!-- buttons to redirect the login pages -->
<button>
    <a href="/users/sign-in">Sign In</a>
</button>

<button>
    <a href="/users/sign-up">Sign Up</a>
</button>
