header{
    color: white;
    background-color: blueviolet;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    
}

li{
    margin-right: 15px;
}