#home-container{
    height: 100%;
    display: flex;
    font-family: sans-serif;
}

#home-container #feed-posts{
    width: 70%;
    padding-left: 10px;
}

#home-container #user-friends{
    height: 100%;
    width: 30%;
    padding-left: 10px;
    border-left: 1px solid lightgrey;
}

#home-container #user-friends h4{
    color: white;
}

#home-container #user-friends p a{
    color: cyan;
}

.username{
    padding: 2px;
    background-color: orange;
    border-radius: 3px;
}










